<!DOCTYPE html>
<html>
<head>
  <!--title>Ruby on Rails Tutorial Sample | <%= @title %></title-->
  <!-- using the title helper that is defined in application_helper.rb -->
  <title><%= title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
